button {
    background: purple;
    color: white;
    padding: 10px;
    border-radius: 3px;
    margin-top: 10px;
    outline: none;
    cursor: pointer;
}

.link {
    display: block;
    margin-bottom: 10px;
}
